	        <div class="content">
	        	<div class="container-fluid">
	        		<div class="row">
	        		   						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="card card-stats">
								<div class="card-header" data-background-color="green">
									<i class="material-icons">store</i>
								</div>
								<div class="card-content">
									<p class="category">Daily Revenue</p>
									<h3 class="title">$34,245</h3>
								</div>
								<div class="card-footer">
									<div class="stats">
										<i class="material-icons">date_range</i> Last 24 Hours
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="card card-stats">
								<div class="card-header" data-background-color="green">
									<i class="material-icons">store</i>
								</div>
								<div class="card-content">
									<p class="category">Total Revenue</p>
									<h3 class="title">$34,245</h3>
								</div>
								<div class="card-footer">
									<div class="stats">
										<i class="material-icons">date_range</i> Since 3/4/2017
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="card card-stats">
								<div class="card-header" data-background-color="red">
									<i class="material-icons">info_outline</i>
								</div>
								<div class="card-content">
									<p class="category">Business Deals</p>
									<h3 class="title">75</h3>
								</div>
								<div class="card-footer">
									<div class="stats">
										<i class="material-icons">date_range</i> Since 3/4/2017
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="card card-stats">
								<div class="card-header" data-background-color="blue">
									<i class="fa fa-twitter"></i>
								</div>
								<div class="card-content">
									<p class="category">Followers</p>
									<h3 class="title">+245</h3>
								</div>
								<div class="card-footer">
									<div class="stats">
										<i class="material-icons">update</i> Just Updated
									</div>
								</div>
							</div>
						</div>
	

	        			<div class="col-md-12">
	        				<div class="card">
	        					<div class="card-header" data-background-color="purple">
	        					<h4 class="title">News Feed</h4>
	        						<p class="category">Real life feed of activities</p>
	        					</div>
	        					<div class="card-content table-responsive">
	        						<table class="table">
	        							<thead class="text-primary">
	        								<th>Stories</th>
	      									<th>Earnings</th>
	        							</thead>
	        							<tbody>
	        								<tr>
	        									<td>user34234 just brought in Meltwater</td>
	        									<td class="text-primary">$36,738</td>
	        								</tr>
	        								<tr>
	        									<td>user34234 just brought in Meltwater</td>
	        									<td class="text-primary">$23,789</td>
	        								</tr>
	        								<tr>
	        									<td>user34234 just brought in Meltwater</td>
	        									<td class="text-primary">$56,142</td>
	        								</tr>
	        								<tr>
	        									<td>user34234 just brought in Meltwater</td>
	        									<td class="text-primary">$38,735</td>
	        								</tr>
	        								<tr>
	        									<td>user34234 just brought in Meltwater</td>
	        									<td class="text-primary">$63,542</td>
	        								</tr>
	        								<tr>
	        									<td>user34234 just brought in Meltwater</td>
	        									<td class="text-primary">$78,615</td>
	        								</tr>
	        							</tbody>
	        						</table>

	        					</div>
	        				</div>
	        			</div>
	        		</div>
	        	</div>
	        </div>
