<%= link_to admin_mark_notification_as_read_url(notification) do %>
  <% if notification.read_at.nil? %>
  <li style="background: #DCDCDC;">
  <% else %>
  <li>
  <% end %>
    <span style="font-weight: bold;"><%= notification.actor_username %></span> tried updating this role:(<span style="font-weight: bold;"><%= JobDescription.find(notification.resource_id).job_title %></span>)</li>									    
<% end %>