<div class="col-md-12">
	<div class="card">
		<div class="card-header" data-background-color="purple">
		<h4 class="title">Message</h4>
			<p class="category"></p>
		</div>
		<%= render "form", message: @message %>
	</div>
</div>