<%= link_to mark_notification_as_read_url(notification) do %>
  <% if notification.read_at.nil? %>
  <li style="background: #DCDCDC;;">
  <% else %>
  <li>
  <% end %>  
    <span style="font-weight: bold;">The Agency</span> just approved your updates to your job description: <span style="font-weight: bold;">(<%= JobDescription.find(Requirement.find(notification.resource_id).job_description_id).job_title %>/(<%= JobDescription.find(Requirement.find(notification.resource_id).job_description_id).company.company_name %>)</span>
  </li> 
<% end %> 