<%= link_to mark_notification_as_read_url(notification) do %>
  <% if notification.read_at.nil? %>
  <li style="background: #DCDCDC;;">
  <% else %>
  <li>
  <% end %>	
   	<span style="font-weight: bold;">The Agency</span> just made a <span style="font-weight: bold;">deal</span> with your company<span style="font-weight: bold;">(<%= Company.find(notification.resource_id).company_name %>)</span>
  </li>
<% end %> 